<h1>Edit Artist <%= @artist.name %></h1>

<form action="/artists/<%=@artist.id %>" method="POST">
  <label> Artist Name </label>
  <input type="text" name="name" value="<%=@artist.name %>"> </br>

  <input type="submit" value="Update">
</form>