  <%= @artist.name %><br/>

  <h2>Paintings</h2>
  <ul>
  <% @artist.paintings.each do |painting| %>
    <li><a href="/paintings/<%=painting.id%>"><%= painting.name %></a></li>
  <% end%>
  </ul>
  <a href="/artists/<%=@artist.id%>/edit">Edit</a>
  <br />
  <br />