<h1>Edit <%= @painting.name %></h1>

<form action="/paintings/<%=@painting.id %>" method="POST">
  <label> Painting Name </label>
  <input type="text" name="name" value="<%=@club.name %>">

  <label> Painting Year </label>
  <input type="text" name="year" value="<%=@painting.year%>"> 

  <input type="submit" value="Update">
</form>