<h1>Edit <%= @painting.name %></h1>

<form method="post" action="/paintings/<%=@painting.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="painting_name" value="<%= @painting.painting_name %>">
  <input type="submit" value="submit">
</form>