<% @paintings.each do |painting| %>
  <div>
    Name: "<%= painting.painting_name %>", 
    Year: <%= painting.year %>
   
  </div>
<% end %>
 
 <a href="/paintings/<%=@painting.id%>/edit">Edit Painting </a>